extends layout

block content
  h1 #{title}

  //- Display the results from the database
  .container-fluid
    .row
      each item in results
        .col-sm-2
          h3 #{item.artifact_name}
          p Material: #{item.material}
          p Age: #{item.age} years


